body {
    color:#414141;
    background-color: rgb(238, 231, 231) !important;
}
.container {
    font-family: 'Helvetica Neue', Helvetica;
    text-align: center;
    padding: 5px;
}
.text-container{
    width: 90%;
    max-width: 800px;
    font-weight: 300;
    margin: 0 auto;
    padding: 15px;
    padding-bottom: 15px;
}
h1{
    font-weight: 100;
}
a{
    text-decoration: none;
    color: none;
}
.button {
    padding: 15px;
    font-family: 'Helvetica Neue', Helvetica;
    text-size: 18px;
    color: white;
    background-color: rgb(233, 79, 100);
    border: 0;
    border-radius: 5px;
    margin: 10px;
    display: block;
    max-width: 200px;
    margin: auto;
    text-decoration: none;
}
p {
    line-height: 1.5;
}