@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

body {
  background-color: rgb(238, 231, 231) !important;
}
.slider .btn {
  margin-top: 20px;
}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
  margin: 60px 20px;
}

.section-contact h5 {
  margin-bottom: 30px;
}
.card-title {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: clip;
}

#Logo {
  margin: -80px;
}

.opit h2 {
  background: #9fa8da;
  color: #fff;
  width: 200px;
  font-size: 24px;
  padding: 5px;
  height: 40px;
}

.opit h2::after {
  content: "";
  border-top: 40px solid #9fa8da;
  border-right: 40px solid transparent;
  position: relative;
  left: 87px;
  top: 32px;
}
.opit2 h2::after {
  content: "";
  border-top: 40px solid #9fa8da;
  border-right: 40px solid transparent;
  position: relative;
  left: 86px;
  top: 33px;
}
.opit3 h2::after {
  content: "";
  border-top: 40px solid #9fa8da;
  border-right: 40px solid transparent;
  position: relative;
  left: 46px;
  top: 33px;
}
.zoom {
  padding: 25px;

  transition: transform 0.2s; /* Animation */

  margin: 0 auto;
}

.zoom:hover {
  transform: scale(
    1.06
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.navigaciq {
  font-size: larger;
  font-family: "Oxygen", sans-serif;
}
.labeli {
  font-family: "Oxygen", sans-serif;
}
.section {
  padding-top: 30px;
}
.bukvi {
  position: relative !important;
  left: -50px !important;
  top: -35px !important;
  font-size: 20px !important;
}
.tarsene {
  position: relative !important;
  top: 80px;
  margin-top: -50px !important;
  padding-bottom: 25px !important;
}
.butonche{
  margin: 30px;
  width: 75%;
}
.filtraciq {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  width: 244px;
  height: 210px;
  margin-left: 30px;
  margin-top: 30px;
}
.filtrirane {
  font-size: 30px !important;
  padding: 10px;
}
.golemi {
  font-size: 15px !important;
  color: black;
}
.IDE {
  font-weight: bold;
}
.sortraciq {
  margin-left: 30px;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px !important;
  padding: 20px !important;
  width: 244px !important;
  height: 260px !important;
  margin-bottom: 100px;
}
.sortirane {
  font-size: 30px !important;
  padding: 10px;
}
/*  NAVIGACIQ  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto Cn", sans-serif;
}

a {
  text-decoration: none;
  color: #eee;
}

header {
  width: 100%;
  /* height: 100vh; */
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1523374228107-6e44bd2b524e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80")
      center no-repeat; */
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.menu-toggle {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  color: #eeeeee;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

nav1 {
  /* padding-top: 15px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.6rem;
}
nav1 h1,
a {
  color: black;
  font-weight: bold;
  padding: 5px;
}

h1 {
  font-size: 50px !important;
}
.button1 {
  padding: 5px 25px;
  background-color: #72bb3a;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.button1:hover {
  background-color: rgba(0, 169, 12, 0.8);
}
.izhod {
  padding: 5px 25px;
  background-color: rgb(233, 79, 100);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.brand {
  font-size: 3rem;
  font-weight: 300;
  transform: translateX(-100rem);
  animation: slideIn 0.5s forwards;
}

.brand span {
  color: crimson;
}

nav1 ul {
  display: flex;
}

nav1 ul li {
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn 0.5s forwards;
}

nav1 ul li:nth-child(1) {
  animation-delay: 0s;
}

nav1 ul li:nth-child(2) {
  animation-delay: 0.5s;
}

nav1 ul li:nth-child(3) {
  animation-delay: 1s;
}

nav1 ul li:nth-child(4) {
  animation-delay: 1.5s;
}

nav1 ul li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav1 ul li a:last-child {
  margin-right: 0;
}

nav1 ul li a::before,
nav1 ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: crimson;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}

nav1 ul li a::before {
  top: 0;
  transform-origin: left;
}

nav1 ul li a::after {
  bottom: 0;
  transform-origin: right;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: opacity 650ms;
  transform: scale(0);
  opacity: 0;
  display: none;
}

nav1 ul li a:hover::before,
nav1 ul li a:hover::after {
  transform: scaleX(1);
}

@keyframes slideIn {
  from {
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 700px) {
  .menu-toggle {
    display: block;
  }

  nav1 {
    padding-top: 0;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    text-align: center;
  }

  nav1 ul {
    flex-direction: column;
  }

  nav1 ul li {
    margin-top: 5rem;
  }

  nav1 ul li a {
    margin: 0;
    font-size: 2.5rem;
  }

  .brand {
    font-size: 5rem;
  }

  .overlay.menu-open,
  nav1.menu-open {
    display: flex;
    transform: scale(1);
    opacity: 1;
  }
}

.myrdame {
  /* position: relative; */
  width: 700px!important;
  height: 700px!important;
  left: -300px;
  top: 20px;
}

.myrdame2 {
  /* position: relative; */
  width: 700px!important;
  height: 700px!important;
  left: -300px;
  top: 20px;
}

.kartichka{
  width: 210px;
  height: 250px;
  text-align: center;
}

.elementi{
  margin-top: 70px;
}

.podredba{
  margin-left: 100px;
  width: 100%;
}

.snimka {
  position: absolute;
  left: 1198px;
  width: 600px;
  height: 600px;
  top: 243px;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #000000;
}

.carousel {
  height: 490px;
  perspective: 600px;
  transform: translateY(-50px);
}

.carousel .carousel-item {
  cursor: grab;
  width: 400px;
}

.carousel .carousel-item:active {
  cursor: grabbing;
}

.carousel .carousel-item img {
  width: 300px;
  height: 300px;
}

.carousel .carousel-item h3 {
  background-color: #ffffff;
  color: #000000;
  font-size: 2em;
  font-weight: bold;
  margin: -5px 0 0;
  padding: 10px 5px;
  text-align: center;
}
.featuredNames{
  width: 300px;
}