@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
  --color: #e40046;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #e9e9e9;
  overflow-x: hidden;
  padding-top: 90px;
  margin: 0 100px;
}
.profile-header {
  background: #fff;
  width: 100%;
  display: flex;
  height: 190px;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}
.profile-img {
  float: left;
  width: 340px;
  height: 200px;
}

.profile-img-details {
  float: left;
  width: 340px;
  height: 200px;
}
/*.snimka-addon{*/
/*  position: absolute!important;*/
/*  left: 395px!important;*/
/*  top: 20px!important;*/
/*}*/
.profile-img img {
  border-radius: 50%;
  height: 230px;
  width: 230px;
  border: 4px solid #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50px;
  top: 20px;
  z-index: 5;
  background: #fff;
}

.profile-img-details img {
  border-radius: 50%;
  height: 230px;
  width: 230px;
  border: 4px solid #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 400px;
  top: 146px;
  z-index: 5;
  background: #fff;
}

.profile-nav-info {
  float: left;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}

.profile-nav-info h3 {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 100px;
  font-family: 'Bangers', cursive;
}

.profile-nav-info .adress {
  display: flex;
  font-weight: bold;
  color: #777;
}
.profile-nav-info .adress p {
  margin-right: 5px;
}
.main-bd {
  width: 100%;
  display: flex;
  padding-right: 15px;
}
.profile-side {
  width: 300px;
  background: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 90px 30px 20px;
  margin-left: 10px;
  margin-bottom: 70px;
  z-index: 99;
}

.profile-side-details {
  width: 300px;
  /*height: 800px;*/
  background: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 90px 30px 20px;
  margin-left: 10px;
  margin-bottom: 50px;
  z-index: 99;
}

.profile-side p {
  margin-bottom: 7px;
  color: #333;
  font-size: 14px;
}
.profile-side p i {
  color: var(--color);
  margin-right: 10px;
}

.mobile-no i {
  transform: rotateY(180deg);
}
.profile-btn {
  display: flex;
}
button.createbtn {
  border: 0;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  background: var(--color);
  font-size: 1rem;
  margin: 5px 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background 0.3s ease-in-out;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
}
button.createbtn:hover {
  background: rgba(288, 0, 70, 0.9);
}
button.createbtn2 {
  border: 0;
  padding: 10px;
  width: 150px;
  border-radius: 3px;
  background: var(--color);
  font-size: 1rem;
  margin: 5px 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background 0.3s ease-in-out;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
}
button.createbtn2:hover {
  background: rgba(288, 0, 70, 0.9);
}
user-rating {
  display: flex;
}
.user-rating h3 {
  font-weight: 200;
  margin-right: 5px;
  letter-spacing: 1px;
  color: #666;
}
user-name{
  margin-bottom: 20px!important;
}
p{
  font-size: 20px;
}
.user-rating .no-user {
  font-size: 0.9rem;
}
.rate {
  padding-top: 30px;
}

.rate i {
  font-size: 0.9rem;
  color: var(--color);
}

.nav {
  width: 100%;
  z-index: -1;
}
.nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  height: 40px;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.nav ul li {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.nav ul li.active,
.nav ul li:hover {
  box-shadow: 0px -3px 0px rgba(288, 9, 70, 0.9) inset;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

body {
  padding: 0;
  margin: 0;
}

.tabs {
  display: flex;
  width: 875px;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  background-color: #ccc;
}

.tab:hover {
  background-color: #aaa;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

th, td{
  font-size: 13px;
}