<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
      <link rel="stylesheet" href="/css/editormd.css" />
    <!--Import materialize.css-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/rating.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
      integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
      crossorigin="anonymous"
    ></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile page</title>
  </head>
  <body id="home" class="scrollspy">
    <!-- NAVIGATION -->
    <div th:insert="navigation.html :: header"></div>

    <!-- DETAILS -->

    <div class="container">
              <div class="profile-img-details">
                <img width="200px" th:src="@{'/addons/' + ${addon.id} + '/addonimage'}" alt="addon image">
              </div>

      <div class="main-bd">
          <div class="left-side">
              <div class="profile-side-details">
                  <div id="test1" class="col s12 m12 l12" style="background-color: white;">
                      <form action="#" sec:authorize="isAuthenticated()" th:if="${canVote == true}" th:action="@{/addons/{id}/rate(id=${addon.id})}" th:object="${addon}" method="post" th:id="${addon.id} + 'rate'">
                          <div class="container">
                               <div class="rate ">
                                    <input type="radio" id="star5" name="value" value="5" th:attr="data-target=${'#' +addon.id + 'rate'}" onchange="this.form.submit();"/>
                                    <label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="value" value="4" th:attr="data-target=${'#' +addon.id + 'rate'}" onchange="this.form.submit();"/>
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="value" value="3" th:attr="data-target=${'#' +addon.id + 'rate'}" onchange="this.form.submit();"/>
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="value" value="2" th:attr="data-target=${'#' +addon.id + 'rate'}" onchange="this.form.submit();"/>
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="value" value="1" th:attr="data-target=${'#' +addon.id + 'rate'}" onchange="this.form.submit();"/>
                                    <label for="star1" title="text">1 star</label>
                                </div>
                           </div>
<!--                        <input type="submit" value="Rock the Vote">-->
                     </form>
                  <div sec:authorize="isAuthenticated()" th:if="${canVote == false}" th:object="${votedValue}" class="container">
                        <div class="rate ">
                            <h5 th:text="'Your vote is ' + ${votedValue}"></h5>
                        </div>
                   </div>
              </div>
                            <h4 class="avgRating" th:text="${avgRating} + ' / 5.0 ★'"></h4>
                      <br />
                      <br />
                      <br/>
                      <h5 class="IDE">IDE:</h5>
                      <h6 th:text="${addon.ide.name}"></h6>
                      <br />
                      <h5>GitHub:</h5>
                      <h6 th:text="${addon.origin_link}"></h6>
                      <br />
                      <h5>Creator:</h5>
                      <h6><a th:href="@{/user/{name}(name=${addon.creator.username})}" th:text="${addon.creator.username}"></a></h6>
                      <br />
                      <h5>Downloads:</h5>
                      <h6 th:text="${addon.downloads}"></h6>
                      <br />
                      <h5>Last Commit Date:</h5>
                      <h6 th:text="${addon.gitHubData.lastCommit}"></h6>
                      <br />
                      <h5>Last Commit Title:</h5>
                      <h6 th:text="${addon.gitHubData.lastCommitTitle}"></h6>
                      <br />
                      <h5>Open Issues:</h5>
                      <h6 th:text="${addon.gitHubData.issues}"></h6>
                      <br />
                      <h5>Tags:</h5>
                            <div class="chip" th:each="tag : ${tags}">
                              <a th:href="@{/addons(name='tag:' + ${tag.name})}" th:text="${tag.name}"></a>
                            </div>
                      <br />
                      <h5>Pull Requests:</h5>
                      <h6 th:text="${addon.gitHubData.pulls}"></h6>
                      <br />
                <form action="#" th:action="@{/addons/{id}/download(id=${addon.id})}" method="get">
                      <div class="profile-btn">
                        <button class="createbtn" type="submit">
                          Download
                        </button>
                      </div>
                </form>
              </div>
          </div>
                <div class="right-side">
                      <div class="row">
                              <div class="col s12">
                                      <ul class="tabs">
                                            <li class="tab col s12"><a class="active" th:text="${addon.name}"></a></li>
                                      </ul>
                              </div>
            <!-- Tab 1 -->
                        <table style="background-color: white">
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <h4 style="text-align: center">Description</h4>
                                        <br>
                                        <h5 style="word-wrap: break-word; width: 815px" th:text="${addon.description}"></h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <h4 style="text-align: center">README.md</h4>
                                        <br>
                                        <div id="test-editor">
                                            <textarea style="display:none;" th:text="${addon.gitHubData.readme}"></textarea>
                                        </div>
                                    </td>
                                </tr>
                        </table>
                      </div>
                </div>
           </div>
      </div>
    </div>


    <!-- Section: Footer -->
    <div th:insert="footer.html :: footer"></div>

    <!--JavaScript at end of body for optimized loading-->
<!--    <script src="https://code.jquery.com/jquery-3-5-0.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/editormd.min.js"></script>
    <script src="/lib/marked.min.js"></script>
    <script src="/lib/prettify.min.js"></script>
    <script type="text/javascript">
        $(function() {
            var editor = editormd.markdownToHTML("test-editor", {
                htmlDecode : true,
                htmlDecode : "style,script,iframe",
            });
        });
    </script>
    <script src="/js/addons.js"></script>
    <script src="/js/profile.js"></script>

  </body>
</html>
