<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/tags.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        label{
            font-size: large;
        }
    </style>
    <title>Publish</title>
</head>

<body>
        <div th:insert="navigation.html :: header"></div>

        <div class="row">
            <div class= "col s1"></div>

                                    <form id="myForm" class="col s7 m7 l7" action="#" th:action="@{/addons/new}" enctype="multipart/form-data" th:object="${addon}" method="post">

                                        <p>
                                            <i th:if="${error != null}" th:text="${error}" class="error"></i>
                                        </p>

                                        <div class="row">
                                                        <div class="col s1 l1"></div>
                                                        <div class="file-field input-field col s3 l3">
                                                                <input type="file" id="imagefile file-upload" name="imagefile" class="file" accept="image/*" onchange="loadFile(event)">
                                                                <figure>
                                                                        <img id="output" height="128px" width="128px" alt="">
                                                                        <figcaption>Click to upload</figcaption>
                                                                </figure>
                                                        </div>

                                        </div>

                                        <div class="row">
                                                <div class="col s1 l1"></div>
                                                <div class="input-field  col s6">
                                                        <input id="input_text" type="text" th:field="${addon.name}">
                                                        <label for="input_text">Name</label>
                                                        <label class="error" th:errors="*{name}"></label>
                                                </div>
                                        </div>

                                                <div class="row">
                                                        <div class="col s1 l1"></div>
                                                        <div class="input-field col s6">
                                                                <textarea id="description" class="materialize-textarea" th:field="${addon.description}"></textarea>
                                                                <label for="description">Description</label>
                                                                <label class="error" th:errors="*{description}"></label>
                                                        </div>
                                                </div>

                                                        <div class="row">
                                                                 <div class="col s1 l1"></div>
                                                                 <div class="col s6 l6">
                                                                        <div class="chips chips-placeholder"></div>
                                                                        <input hidden id="tagsInput" type="text" th:field="${addon.tags}">
                                                                     <label class="error" th:errors="*{tags}"></label>
                                                                 </div>

                                                        </div>

                                                                <div class="row">
                                                                        <div class="col s1 l1"></div>
                                                                        <div class="input-field col s6">
                                                                                <textarea id="origin-link" class="materialize-textarea" th:field="*{origin}"></textarea>
                                                                                <label for="origin-link">Origin link</label>
                                                                                <label class="error" th:errors="*{origin}"></label>
                                                                        </div>
                                                                </div>

                                                                        <div class="row">
                                                                                <div class="col s1 l1"></div>
                                                                                <select class="browser-default col s3 l3" th:field="*{ide}" style="width: max-content">
                                                                                        <option th:each="ide : ${ides}" th:value="${ide.name}" th:text="${ide.name}">IDEs</option>
                                                                                </select>
                                                                        </div>
                                                                                    <div class="row">
                                                                                            <div class="col s1 l1"></div>
                                                                                                <div class="col s6 l4">
                                                                                                    <div class="file-field input-field">
                                                                                                            <div class="btn green lighten-1">
                                                                                                                    <span>Addon data</span>
                                                                                                                    <input type="file" id="datafile file-upload" name="datafile" class="file">
                                                                                                            </div>
                                                                                                            <div class="file-path-wrapper">
                                                                                                                    <input class="file-path validate" type="text">
                                                                                                            </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                    </div>
                                                                                            <div class="row">
                                                                                            <div class="col s1 l1"></div>
                                                                                            <button id="myBtn" type="button" class="btn green lighten-1">Publish Addon</button>
                                                                                            </div>
                                    </form>

            <div class="col s3 l3">
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                    <img class="materialboxed myrdame "  src="https://pngimage.net/wp-content/uploads/2018/05/digital-tree-png.png">
            </div>
        </div>
        <!-- Section: Follow -->
                        <div th:insert="footer.html :: footer"></div>


        <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="/js/publish-addon.js"></script>
        <script>
            const tags = document.querySelectorAll(".chips");
            M.Chips.init(tags, {});
        </script>
        <script>
            $(document).ready(function(){
                $('select').formSelect();
                $('#myBtn').on('click', function() {
                    var data = M.Chips.getInstance($('.chips'));
                    var tagString = ""
                    for (let step = 0; step < data.chipsData.length; step ++){
                        tagString += data.chipsData[step].tag + " "
                    }
                    console.log(tagString);
                    $('#tagsInput').val(tagString)
                    $('#myForm').submit()
                });
            });
            $('.chips-placeholder').chips({
                placeholder: 'Enter a tag',
                secondaryPlaceholder: '+Tag',
            });
        </script>

    </body>
</html>