<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Edit</title>
</head>

<body>
            <div th:insert="navigation.html :: header">
            </div>
                        <p>
                            <i th:if="${error != null}" th:text="${error}" class="error"></i>
                        </p>

                <div class="row">
                        <div class="col s1 l1"></div>

                                <form action="#" class="col s7 m7 l7" th:action="@{/addons/{id}/edit(id=${currentId})}" enctype="multipart/form-data" th:object="${addon}" method="post">

                                        <div class="row">

                                                <div class="col s1 l1"></div>
                                                <div class="file-field input-field col s3 l3">
                                                    <input type="file" id="imagefile file-upload" name="imagefile" class="file" accept="image/*" onchange="loadFile(event)">
                                                    <figure>
                                                        <img id="output" height="128px" width="128px" alt=""/>
                                                        <figcaption>Click to upload</figcaption>
                                                    </figure>
                                                </div>
                                         </div>


                                        <div class="row">
                                                <div class="col s1 l1"></div>
                                                <div class="input-field col s6">
                                                        <input placeholder="Name" id="input_text" type="text" class="validate" data-length="25" th:field="${addon.name}" th:value="${addon.name}">
                                                        <label for="input_text">Name</label>
                                                        <label class="error" th:errors="*{name}"></label>
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col s1 l1"></div>
                                                <div class="input-field col s6">
                                                    <textarea id="description" class="materialize-textarea" data-length="300" th:field="*{description}"
                                                              th:value="${addon.description}"></textarea>
                                                    <label for="description">Description</label>
                                                    <label class="error" th:errors="*{description}"></label>
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col s1 l1"></div>
                                                <div class="col s6 l6">
                                                    <h5>Tags</h5>

                                                    <div class="chips">
                                                        <input type="text" th:field="*{tags}" th:value="${addon.tags}"/>
                                                        <label class="error" th:errors="*{tags}"></label>
                                                    </div>
                                                </div>
                                        </div>
                                         <div class="row">
                                                <div class="col s1 l1"></div>
                                                <div class="input-field col s6">
                                                    <textarea id="origin-link" class="materialize-textarea" th:field="*{origin}" th:value="${addon.origin}" data-length="120"></textarea>
                                                    <label for="origin-link">Origin link</label>
                                                    <label class="error" th:errors="*{origin}"></label>
                                                </div>
                                         </div>
                                         <div class="row">
                                                <div class="col s1 l1"></div>
                                                        <select class="browser-default col s3 l3" th:field="${addon.ide}" th:selected="*{ide}" style="width: max-content">
                                                                <option th:each="ide : ${ides}"
                                                                        th:value="${ide.name}"
                                                                        th:text="${ide.name}">IDEs
                                                                </option>
                                                        </select>
                                         </div>
                                        <div class="row">
                                                <div class="col s1 l1"></div>
                                                <div class="col s6 l4">
                                                        <div class="file-field input-field">
                                                                <div class="btn green lighten-1">
                                                                     <span>Upload Addon</span>
                                                                     <input type="file" id="datafile file-upload" name="datafile" class="file">
                                                                </div>
                                                                <div class="file-path-wrapper">
                                                                     <input class="file-path validate" type="text">
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="row">
                                                     <div class="col s1 l1"></div>
                                                    <button type="submit" class="btn green lighten-1">Share</button>
                                        </div>
                                </form>
                    <div class="col s3 l3">
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                        <div class="row"></div>
                    <img class="materialboxed myrdame myrdame2" src="https://pngimage.net/wp-content/uploads/2018/05/digital-tree-png.png">
                    </div>
                </div>



            <!-- Section: Follow -->
            <div th:insert="footer.html :: footer"></div>

            <script src="/js/materialize.min.js"></script>
            <script src="/js/publish-addon.js"></script>
            <script>
                const tags = document.querySelectorAll(".chips");
                M.Chips.init(tags, {});
            </script>
</body>
</html>