<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <link rel="stylesheet" href="/css/index.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>

  <body id="home" class="scrollspy">
        <!-- Navbar -->

              <div th:insert="navigation.html :: header"></div>

         <!-- Section: Slider -->
        <div class="carousel">
            <div class="carousel-item" th:if="${!featured.isEmpty()}" th:each="addon : ${featured}">
                <a th:href="@{/addons/{id}/details(id=${addon.id})}">
                <img th:src="@{'/addons/' + ${addon.id} + '/addonimage'}" alt="addon image">

                <h3 class="featuredNames" th:text="${addon.name}"></h3>
                </a>
            </div>
       </div>

        <!-- Section: Featured Places -->
<!--              <section id="featured" class="section section-popular scrollspy">-->
<!--                    <div class="container opit">-->
<!--                        <h2 class="labeli">Featured</h2>-->
<!--                          <div class="row podredba" >-->
<!--                                <div class="col s12 m2" th:if="${!featured.isEmpty()}" th:each="addon : ${featured}">-->
<!--                                    <a th:href="@{/addons/{id}/details(id=${addon.id})}">-->
<!--                                      <div class="card zoom">-->
<!--                                            <div class="card-image">-->
<!--                                    &lt;!&ndash; <img src="img/icons8-react-native-256.png" alt="" />&ndash;&gt;-->
<!--                                              <img width="200px" th:src="@{'/addons/' + ${addon.id} + '/addonimage'}" alt="addon image">-->
<!--                                            </div>-->
<!--                                            <div class="card-content">-->
<!--                                              <span class="card-title" th:text="${addon.name}"></span>-->
<!--                                            </div>-->
<!--                                      </div>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                          </div>-->
<!--                    </div>-->
<!--              </section>-->

    <!-- Section: Trending Places -->
              <section id="trending" class="section section-popular scrollspy">
                    <div class="container opit opit2">
                          <h2 class="labeli">Trending</h2>
                              <div class="row podredba" >
                                    <div class="col s12 m2" th:if="${!popular.isEmpty()}" th:each="addon : ${popular}">
                                        <a th:href="@{/addons/{id}/details(id=${addon.id})}">
                                          <div class="card zoom">
                                                <div class="card-image">
                                                      <img width="200px" th:src="@{'/addons/' + ${addon.id} + '/addonimage'}" alt="addon image">
<!--                                                  <img src="img/basikefa.jpg" alt="" />-->
                                                </div>
                                                <div class="card-content">
                                                      <span class="card-title" th:text="${addon.name}"></span>
                                                </div>
                                          </div>
                                        </a>
                                    </div>
                              </div>
                    </div>
              </section>

    <!-- Section: Newest Places -->
              <section id="new-arrivals" class="section section-popular scrollspy">
                    <div class="container opit opit3">
                        <h2 class="labeli">New Arrivals</h2>
                            <div class="row podredba" >
                                    <div class="col s12 m2" th:if="${!newest.isEmpty()}" th:each="addon : ${newest}">
                                        <a th:href="@{/addons/{id}/details(id=${addon.id})}">
                                        <div class="card zoom">
                                            <div class="card-image">
                                                <img width="200px" th:src="@{'/addons/' + ${addon.id} + '/addonimage'}" alt="addon image">
<!--                                              <img src="img/icons8-react-native-256.png" alt="" />-->
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title" th:text="${addon.name}"></span>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                            </div>
                    </div>
              </section>

    <!-- Section: Icon Categories -->
            <section class="section section-icons grey lighten-4 center">
                    <div class="container">
                            <div class="row">
                                    <h4 class="center"> <span class="teal-text">I am looking for add-on for ... </span>
                                    </h4>
                                    <!-- for each -->
                                        <div class="col s12 m4">    <a href="http://localhost:8090/addons?ide=IntelliJ">
                                            <div class="card-panel zoom">   <img src="/img/IntelliJ icon.png" height="50px" width="50px" /> <h4>IntelliJ</h4>
                                            </div>
                                        </a>
                                        </div>
                                                <div class="col s12 m4">    <a href="http://localhost:8090/addons?ide=Eclipse">
                                                    <div class="card-panel zoom">   <img src="/img/Ecliplse.png" height="50px" width="50px" />  <h4>Ecliplse</h4>
                                                    </div>
                                                </a>
                                                </div>
                                                        <div class="col s12 m4">    <a href="http://localhost:8090/addons?ide=Visual+Studio">
                                                            <div class="card-panel zoom">   <img src="/img/VS icon.png" height="50px" width="50px" />   <h4>Visual Studio</h4>
                                                            </div>
                                                        </a>
                                                        </div>
                            </div>
                    </div>
            </section>


    <!-- Section: Follow -->
    <div th:insert="footer.html :: footer"></div>


    <!--JavaScript at end of body for optimized loading-->
        <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/index.js"> </script>
  <script>
      $(document).ready(function() {
          $('.carousel').carousel();
      });
  </script>

  </body>
</html>
