<html  lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
</th:block>

<head>
    <title></title>
</head>

<body>

<div id="page-content" th:fragment="navigation">

    <header>
        <div class="menu-toggle" id="hamburger1">
            <i class="fas fa-bars"></i>
        </div>
        <div class="overlay"></div>
        <div class="container">
            <nav1>
                <h1 class="brand"><a href="/">Add<span>o</span>nis</a></h1>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/addons">Add ons</a></li>
                    <li><a sec:authorize="isAuthenticated()" th:href="@{/user/{name}(name=${#authentication.getName()})}">Profile</a></li>
                    <li sec:authorize="!isAuthenticated()"><a class="cta" href="/auth"><button class="button1">Sign in/up</button></a></li>
                    <form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
                        <li><a class="cta" href="#"><input type="submit" class="izhod" value="Logout"/></a></li>
                    </form>
<!--                    <li><a class="cta" href=""><button class="izhod">Sign out</button></a></li>-->
                </ul>
            </nav1>

        </div>
    </header>

  

</div>
</body>

</html>