<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile page</title>
  </head>

  <body id="home" class="scrollspy">
        <!-- NAVIGATION -->
               <div th:insert="navigation.html :: header"></div>
        <!-- PROFILE -->

              <div class="container">
                        <div class="profile-header">
                                  <div class="profile-img">
                                     <img width="200px" th:src="@{'/user/' + ${user.username} + '/userimage'}" alt="user image">
                                  </div>
                                    <div class="profile-nav-info">
                                               <h3 class="user-name" th:text="${user.username}"></h3>
                                    </div>
<!--          <div class"address">-->
<!--            <p class"state">New York</p>-->
<!--            <span clss="country">USA</span>-->
<!--          </div>-->
                        </div>
                        <div class="main-bd">
                                  <div class="left-side">
                                           <div class="profile-side">
                                                  <p class="first-name" th:text="${user.first_name} + ' ' + ${user.last_name}"></p>
                                                  <p class="user-mail" th:text="${user.email}"></p>
                                                  <div class="profile-btn">
                                                    <button class="createbtn2" th:if="${#authentication.name == username}"><a th:href="@{/addons/new}" style="font-size: medium; color: whitesmoke">Upload Addon</a></button>
                                                   </div>
                                           </div>
                                  </div>
                                  <div class="right-side">
                                          <div class="row">
                                                <div class="col s12 l12 m12">
                                                      <ul class="tabs">
                                                            <li class="tab col s3 m3 l3"><a class="active" href="#addons">Addons</a></li>
                                                            <li class="tab col s3"  th:if="${#authentication.name == username}"><a href="#edit">Edit</a></li>
                                                            <li class="tab col s3" sec:authorize="hasRole('ROLE_ADMIN')"><a class="active" href="#addonsToApprove">[ADM]Addons</a></li>
                                                            <li class="tab col s3" sec:authorize="hasRole('ROLE_ADMIN')"><a href="#usersAdmin">[ADM]Users</a></li>
                                                      </ul>
                                                </div>

            <!-- Tab 1 -->
                                                    <div id="addons" class="col s12 m12 l12">
                                                          <table style="width:100%">
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Name</th>
                                                                    <th>Upload Date</th>
                                                                    <th>IDE</th>
                                                                    <th></th>
                                                                    <th></th>
                                                                </tr>
                                                                <tr th:each="addon : ${addonFromUser}">
                                                                    <td><img width="50px" height="50px" th:src="@{'/addons/' + ${addon.id} + '/addonimage'}"></td>
                                                                    <td><a th:text="${addon.name}" th:href="@{/addons/{id}/details(id=${addon.id})}"></a></td>
                                                                    <td th:text="${addon.upload_date}"></td>
                                                                    <td th:text="${addon.ide.name}"></td>
                                                                    <td th:action="@{/addons/{id}/edit(id=${addon.id})}">
                                                                    <form action="#" th:action="@{/addons/{id}/edit(id=${addon.id})}">
                                                                        <button th:if="${#authentication.name == username}" class="btn blue darken-3" type="submit">Edit</button>
                                                                    </form>
                                                                    </td>
                                                                    <td th:if="${#authentication.name == username}">
                                                                        <form id="deleteOwnAddonForm" th:id="${addon.id} + 'deleteOwn'" action="#" th:action="@{/addons/{id}/delete(id=${addon.id})}" method="post">
                                                                            <div id="modalo" class="modal">
                                                                                <div class="modal-content">
                                                                                    <h4>Delete Addon</h4>
                                                                                    <p>Are you sure to delete this addon?</p>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <a href="#" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancel</a>
                                                                                    <button class="modal-action waves-effect waves-green btn-flat" th:attr="data-target=${'#' +addon.id + 'deleteOwn'}" onchange="$('#deleteOwnAddonForm').submit();">Yes</button>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                        <button class="btn red darken-3 modal-trigger" data-target="modalo">Delete</button>
                                                                    </td>
                                                                </tr>
                                                          </table>
                                                    </div>

            <!-- Tab 2 -->
                                                        <form action="#" th:action="@{/user/{username}(username = ${user.username})}" enctype="multipart/form-data" th:object="${user}" method="post">

                                                              <div id="edit" th:if="${#authentication.name == username}" class="col s12 m12 l12">
                                                                    <table style="width:100%">
                                                                          <tr>
                                                                                <th>First</th>
                                                                                <th>Lastname</th>
                                                                                <th>Email</th>
                                                                                <th>Change Image</th>
                                                                                <th></th>
                                                                          </tr>
                                                                          <tr>
                                                                                <td><input type="text" th:field="${user.first_name}" ></td>
                                                                                <td><input type="text" th:field="${user.last_name}"></td>
                                                                                <td><input type="email" th:field="${user.email}"></td>
                                                                                <td>
                                                                                  <div class="group">
                                                                                    <input type="file" id="imagefile file-upload" name="imagefile" class="file" accept="image/*"/>
                                                                                  </div>
                                                                                </td>
                                                                                <td><button class="createbtn" type="submit" >Update</button></td>
                                                                          </tr>
                                                                    </table>
                                                              </div>
                                                        </form>

            <!-- Tab 3 -->

                                                            <div sec:authorize="hasRole('ROLE_ADMIN')" id="addonsToApprove" class="col s12 m12 l12">
                                                                  <table style="width:100%">
                                                                        <tr>
                                                                              <th>Name</th>
                                                                              <th>Upload Date</th>
                                                                              <th>IDE</th>
                                                                              <th>Creator</th>
                                                                              <th></th>
                                                                              <th></th>
                                                                              <th></th>
                                                                              <th></th>
                                                                        </tr>
                                                                        <tr th:each="addon : ${addonsToApprove}">
                                                                              <td th:text="${addon.name}"></td>
                                                                              <td th:text="${addon.upload_date}"></td>
                                                                              <td th:text="${addon.ide.name}"></td>
                                                                              <td><a th:text="${addon.creator.username}" th:href="@{{name}(name=${addon.creator.username})}"></a></td>
                                                                              <td><form action="#" th:action="@{/admin/addon/{id}/approve(id=${addon.id})}" method="post">
                                                                                <button class="btn green darken-3" type="submit">Approve</button>
                                                                              </form></td>
                                                                              <td>
                                                                                    <form id="deleteAddonForm" th:id="${addon.id} + 'delete'" action="#" th:action="@{/addons/{id}/delete(id=${addon.id})}" method="post">
                                                                                        <div id="modal1" class="modal">
                                                                                            <div class="modal-content">
                                                                                                <h4>Delete Addon</h4>
                                                                                                <p>Are you sure to delete this addon?</p>
                                                                                            </div>
                                                                                            <div class="modal-footer">
                                                                                                <a href="#" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancel</a>
                                                                                                <button class="modal-action waves-effect waves-green btn-flat" th:attr="data-target=${'#' +addon.id + 'delete'}" onchange="$('#deleteAddonForm').submit();">Yes</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </form>
                                                                                  <button class="btn red darken-3 modal-trigger" data-target="modal1">Delete</button>
                                                                              </td>
                                                                        </tr>

                                                                        <tr th:each="addon : ${addons}">
                                                                              <td th:text="${addon.name}"></td>
                                                                              <td th:text="${addon.upload_date}"></td>
                                                                              <td th:text="${addon.ide.name}"></td>
                                                                              <td><a th:text="${addon.creator.username}" th:href="@{{name}(name=${addon.creator.username})}"></a></td>
                                                                              <td>
                                                                                  <form action="#" th:action="@{/addons/{id}/featured(id=${addon.id})}" method="post">
                                                                                      <button th:if="${addon.isFeatured()}" class="btn red darken-3" title="Turn featured off">  <i class="material-icons">visibility_off</i></button>
                                                                                      <button th:if="${addon.isFeatured() == false}" class="btn green darken-3" title="Turn featured on"><i class="material-icons">visibility</i></button>
                                                                                  </form>
                                                                              </td>
                                                                              <td>
                                                                                <form action="#" th:action="@{/addons/{id}/edit(id=${addon.id})}">
                                                                                  <button class="btn blue darken-3" type="submit">Edit</button>
                                                                                </form>
                                                                              </td>
                                                                              <td>
<!--                                                                                <form action="#" th:action="@{/addons/{id}/delete(id=${addon.id})}" method="post">-->
<!--                                                                                  <button class="btn red darken-3" type="submit">Delete</button>-->
<!--                                                                                </form>-->

                                                                                  <form id="deleteAddonForm2" th:id="${addon.id} + 'delete2'" action="#" th:action="@{/addons/{id}/delete(id=${addon.id})}" method="post">
                                                                                      <div id="modal2" class="modal">
                                                                                          <div class="modal-content">
                                                                                              <h4>Delete Addon</h4>
                                                                                              <p>Are you sure to delete this addon?</p>
                                                                                          </div>
                                                                                          <div class="modal-footer">
                                                                                              <a href="#" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancel</a>
                                                                                              <button class="modal-action waves-effect waves-green btn-flat" th:attr="data-target=${'#' +addon.id + 'delete2'}" onchange="$('#deleteAddonForm2').submit();">Yes</button>
                                                                                          </div>
                                                                                      </div>
                                                                                  </form>
                                                                                  <button class="btn red darken-3 modal-trigger" data-target="modal2">Delete</button>
                                                                              </td>
                                                                        </tr>
                                                                  </table>
                                                            </div>

                                                              <div sec:authorize="hasRole('ROLE_ADMIN')" id="usersAdmin" class="col s12 m12 l12">
                                                                    <table style="width:100%">
                                                                          <tr>
                                                                                <th>Profile picture</th>
                                                                                <th>Username</th>
                                                                                <th>First Name</th>
                                                                                <th>Last Name</th>
                                                                                <th></th>
                                                                          </tr>
                                                                          <tr class="row" th:if="${!users.isEmpty()}" th:each="jesus : ${users}">
                                                                                <td><img height="50px" width="50px" th:src="@{'/user/' + ${jesus.username} + '/userimage'}" alt="user image"></td>
                                                                                <td><div class="cell" th:text="${jesus.username}"></div></td>
                                                                                <td><div class="cell" th:text="*{jesus.userDetails.firstName}"></div></td>
                                                                                <td><div class="cell" th:text="*{jesus.userDetails.lastName}"></div></td>
                                                                                <td>
                                                                              <td><form action="#" th:action="@{/user/{username}/delete(username=${jesus.username})}" method="post">
                                                                                  <button class="btn red darken-3" type="submit">Delete</button>
                                                                              </form></td>
                                                                                </td>
                                                                          </tr>
                                                                    </table>
                                                              </div>
                                          </div>
                                  </div>
                        </div>
              </div>

    <!-- Section: Follow -->
    <div th:insert="footer.html :: footer"></div>


    <!--JavaScript at end of body for optimized loading-->
                  <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
              <script>
                  $(document).ready(function(){
                      $('.modal').modal();
                  });
              </script>
    <script src="/js/addons.js"></script>
    <script src="/js/profile.js"></script>
    </body>
</html>
