<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css"/>
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <title>Register</title>
  </head>
  <body>

            <div class="container" id="container">
                  <div class="form-container sign-up-container">
                        <form action="#" th:action="@{/auth}" th:object="${user}" method="post">
                                <p>
                                  <i th:if="${error != null}" th:text="${error}" class="error"></i>
                                </p>
                                         <h1>Create Account</h1>
                                                  <input type="text" th:field="${user.username}" placeholder="Username"/>
                                                  <label class="error" th:errors="${user.username}"></label>
                                                  <input type="email" th:field="${user.email}" placeholder="Email" />
                                                  <label class="error" th:errors="${user.email}"></label>
                                                  <input type="password" th:field="*{password}" placeholder="Password"/>
                                                  <label class="error" th:errors="*{password}"></label>
                                                  <input type="password" th:field="*{passwordConfirmation}" placeholder="Confirm password"/>
                                                  <label class="error" th:errors="*{password}"></label>
                                                  <input type="text" th:field="*{first_name}" placeholder="First name"/>
                                                  <label class="error" th:errors="*{first_name}"></label>
                                                  <input type="text" th:field="*{last_name}" placeholder="Last name" />
                                                  <label class="error" th:errors="*{last_name}"></label>
                                                  <button type="submit">Sign Up</button>
                         </form>
                  </div>
                            <div class="form-container sign-in-container">
                                  <form action="#" th:action="@{/authenticate}" method="post">
                                        <h1>Sign in</h1>
                                                <p>
                                                  <i th:if="${param.error}" class="error"
                                                    >Wrong username or password.</i
                                                  >
                                                </p>
                                                <p>
                                                  <i th:if="${param.logout}">You have been logged out.</i>
                                                </p>
                                                <input class="go-up" type="text" placeholder="Username" id="username" name="username"/>
                                                <input class="go-up" type="password" placeholder="Password" id="password" name="password"/>
                                        <button type="submit">Sign In</button>
                                  </form>
                            </div>
                                <div class="overlay-container">
                                      <div class="overlay">
                                            <div class="overlay-panel overlay-left">
                                                <h1>Welcome Back!</h1>
                                                <p>
                                                  To keep connected with us please login with your personal info
                                                </p>
                                                <button class="ghost" id="signIn">Sign In</button>
                                            </div>
                                            <div class="overlay-panel overlay-right">
                                                <h1>Hello, Friend!</h1>
                                                <p>Enter your personal details and start journey with us</p>
                                                <button class="ghost" id="signUp">Sign Up</button>
                                            </div>
                                      </div>
                                </div>
            </div>

            <script src="js/register.js"></script>

  </body>
</html>
