<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/account-verified.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <title>Registration Success</title>
</head>
<body>

<div class="container" id="mobile">
    <div class= "text-container">
        <h1 th:text="'A verification email has been sent to: ' + ${email}"><i class="fa fa-check-circle" aria-hidden="true" style="color: rgb(233, 79, 100);"></i></h1>
        <a href="/" class= "button">Home </a>
    </div>
</div>


</body>
</html>